* {
    border: none;
    border-radius: 0;
    /* font-family: "Ubuntu Nerd Font"; */
    font-family: "Inconsolata Medium";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
    color: #E5E5E5;
}

/* window#waybar { */
    /* background: #383c4a; */
/* } */
#window{
    font-family: "Cantarell";
}

#language, #tray, #idle_inhibitor, #bluetooth, #network, #pulseaudio, #battery, #date, #clock, #parag, #power{
    margin-right: 3px;
    margin-left: 3px;
    font-size: 14px;
}

#tray {
}


#parag{
    margin: 0 5 0 5;
}
#language{
    /* color: #EC9EC0; */
}
#power{
    color: #bca88e;
}
#workspaces button {
    padding: 0 3 0 3;
}
#workspaces button.focused {
    background-color: #bf616a;
    font-weight: bold;
}

#battery{
    color: #5E6D5D;
}
#battery.charging {
    color: #a3be8c;
}

#battery.full {
    color: #a3be8c;
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink {
    to {
        color: #bf616a;
    }
}

#idle_inhibitor{
    color: #d0b49f;
}

#pulseaudio{
    color: #FFDDB0
}

#network {
    /* color: #189ab4; */
    color: #d67373;
}
#network.disconnected {
    color: #8181c1;
}

#bluetooth{
    color: #2e8bc0;
}

#tray{
    color: red;
    font-size: 14px;
}

window#waybar {
    background: @theme_base_color;
    border-bottom: 1px solid @unfocused_borders;
    color: @theme_text_color;
}
