@define-color darkest #2e3440;
@define-color dark #3b4252;
@define-color white #faf9f9;
@define-color accent #84a0c6;


* {
    border: none;
    /* border-radius: 0; */
    /* font-family: "Ubuntu Nerd Font"; */
    /* font-family:i "Inconsolata Medium"; */
    /* font-family: Roboto, Helvetica, Arial, sans-serif; */
    /* font-family: Inconsolata; */
    font-family: Hack;
    color: @col3; 
}

window#waybar {
    background-color: @darkest;
    
}


#language, #idle_inhibitor, #bluetooth, #network, #pulseaudio, #battery, #date, #clock, #custom-sep, #tray {
    padding: 0 6 0 6;
    font-size: 12px;
    font-weight: bold;
    color: @white;
}

#workspaces button {
    background-color: @darkest;
    font-weight: bold;
    margin: 0 0 0 0;
    border-radius: 0;
    padding-right: 5;
    padding-left: 5;
    font-size: 12px;
}

#workspaces button.focused {
    background-color: @accent;
    font-weight: bold;
}

/* #workspaces button */

#window{
    font-weight: bold;
    padding: 0 10 0 10;
    background-color: @darkest; 
    color: @white;
}

#tray {
    /* margin-right: 3px; */
}

#custom-sep{
    font-weight: bolder;
    padding: 0 0 0 0
}

#language{
    margin-top: -1
}

#idle_inhibitor{
}

#bluetooth{
}

#network {
}
#network.disconnected {
}

#pulseaudio{
}

#battery{
} 
#battery.warning:not(.charging) {
    color: @white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink {
    to {
        color: @accent;
    }
}

#clock {
}

#custom-power{
    margin-left: 0;
    padding-left: 0;
    font-size: 12;
}


#custom-power, #battery, #network, #idle_inhibitor, #tray{
    background-color: @dark;
}

#clock, #pulseaudio, #bluetooth, #language{
    background-color: @dark;
}
