* {
    border: none;
    margin: 0px 0px 0px 0px;
    border-radius: 0;
    /* font-family: "Ubuntu Nerd Font"; */
    font-family: Source-code-pro;
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(59, 66, 82, 0.8);
}

#window {
}

#workspaces button {
    padding: 0 5px;
}

#workspaces button.focused {
    background-color: #bf616a;
    font-weight: bold;
}

#tray, #idle_inhibitor, #temperature, #clock, #battery, #cpu, #memory, #network, #pulseaudio, #language {
    margin-right: 8px;
    margin-left: 8px;
}

#battery{
    margin-right: 0px;
}

#language{
    margin-right: 4px;
    margin-left: 6px;
}

#idle_inhibitor{
    margin-right: 6px;
}

#temperature.critical {
    color: red;
}

#battery.charging {
    color: #a3be8c;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background: #bf616a;
}
