1000* {
  font-family: "Sarasa Term SC";
  font-size: 14px;
}

window {
  margin: 0px;
  border: 0px solid #8fbcbb;
  background-color: #2e3440;
  border-radius: 0;
}

#input {
  margin: 5px;
  color: #e5e9f0;
  background-color: #2e3440;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #2e3440;
}

#outer-box {
  margin: 5px;
  border: none;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
}

#entry:selected {
  font-weight: bold;
  border-radius: 0;
  outline: none;
}
